/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "reset.scss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--blue: #3a7ffd;
	--shadowColor: #aaaaaa;
	--bodyColor: #1e7cae;
	--accent: #f7f8fc;
	--textAccent: #bdc2c6;
	--grey: #616161;
	--skeletonColor: #e0e0e0;
}

$background: var(--background);
$textColor: var(--foreground);
$blue: var(--blue);
$shadowColor: var(--shadowColor);
$bodyColor: var(--bodyColor);
$accent: var(--accent);
$textAccent: var(--textAccent);
$grey: var(--grey);
$skeletonColor: var(--skeletonColor);

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	// --font-sans: var(--font-geist-sans);
	// --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--textAccent: #f7f8fc;
		--accent: #afafaf;
	}
}
main {
	// overflow: auto;
	display: block;
	min-height: calc(100vh - 160px);
	background-color: $background;
}
body {
	// overflow: hidden;
	color: var(--foreground);
	// font-family: "Roboto", sans-serif;
	font-family: "Noto Sans", sans-serif;

	// font-family: Georgia, "Times New Roman", Times, serif;
}
.conteiner {
	max-width: 350px;
	margin: auto;
}

// skeleton-shimmer.scss
.skeleton {
	// opacity: 100% !important;
	position: relative;
	overflow: hidden;
	background-color: $skeletonColor;
	// width: 100%;
	// height: 100%;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
		animation: shimmer 1.5s infinite;
	}
}

@keyframes shimmer {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
